.card,
.sidenav {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: 10px 10px 0px black */
}

.card-title {
    color: #005f63;
}

.card-subtitle {
    color: #298a8d;
}